<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
		<link rel="stylesheet" href="/stylesheets/font.css" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/print.css" media="print" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<base target="_blank" />
		<script src="/javascripts/my-mind.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
